/* Gör så att boxarna blir korrekt storlek när man sätter storleken själv (sätts överst för att den inte ska ärvas) */
* {
    box-sizing: border-box;
}

/* ==================
  STORA GRUPPERINGAR
===================== */

/* Generellt för hela sidan */
body {
    background-color: #CED9C3;
    color: black;   
    font-family: Lora, serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* headern i liten skärm */
header {
    background-color: #9CA695;
    color: rgb(12, 0, 0);
    width: 100%;
    padding: 10px;
}

/* mobilskärm */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* strukturerar huvudinnehållet. Skapar CSS-grid-layout */
.main-container {
    display: grid;
}

/* footern i mörkare färg, på hela bredden av skärmen och gör en flexbox av child-elementen */
footer  {
    background-color: #9CA695;
    color: rgb(0, 0, 0);
    width: 100%;
    display: grid;
    /* skapar tre rader med två kolumner */
    grid-template-areas: 
    "logo logo"
    "logotext logotext"
    "footer-contact footer-nav";
    padding: 2rem;

}

/* ==================
  CLASSES / IDs
===================== */

/* inne i grid-elementen i main*/
.section {
  text-align: center;
  text-wrap: wrap;
  border-bottom: 2px solid #9CA695;
  padding-bottom: 20px;
}

/* Specificerar vilket element/block som ska till vilken grid-area i footern. Detta håller i sig även på @media, men då gör jag en annan layout. */
.footer-logotyp { grid-area: logo; }
.footer-logo { grid-area: logotext; }
.footer-contact { grid-area: footer-contact; }
.footer-nav { grid-area: footer-nav; }


/* positionerar inuti blocken för att få footern snygg. Väljer att skriva alla klasser igen för att det ska bli tydligt med grid-areas och hellre separat styling */
.footer-logotyp { 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
 }

.footer-logo { 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-contact { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start; 
 }

.footer-nav { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start; 
 }  


/* gör att logotyp och logo-text hamnar på samma rad i headern */
.logo-logotext {
    display: inline-flex;
    gap: 20px;
    justify-content: left;
}

/* sätter storlek på logotypen */
img[alt="logotyp"] {
    width: 40px;
}

/* vill att footer-logon ska vara större på liten skärm */
footer img[alt="logotyp"] {
    width: 25%;
    min-width: 60px;
    max-width: 130px;
   
}

/* gör att bilderna aldrig blir större än parent-elementet och block att det inte blir "extra" space på sidorna/under */
img {
    display: block;
    max-inline-size: 100%;
}

/* Utan dessa rader hamnar h3 mer till vänster än listan under. Jag tror jag lyckades få rubriken att flytta med listan även när skärmstorleken ändras */
.footer-nav h3,
.footer-contact h3 {
    padding-left: 2.5rem;
    padding-top: 1rem;
    margin: 0;
}

/* tar bort de ärvda marginalerna och padding på paragrahps så att texterna hamnar närmre varandra */
.footer-logo p {
    margin: 0;
    padding: 0;
}

.footer-nav ul,
.footer-contact ul {
    margin: 0;
}

/* gör att listmenyn hamnar i en kolumn (ändras vid stor skärm längre ner i filen) */
header nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* tar bort prickarna på alla listor på sidan */
li {
    list-style-type: none;
}

/* sätter storlek på rubrikerna (ej cards) till samma storlek */
h1, h2 {
    font-size: 1.5rem;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
}

/* ger alla paragrafer luft runtomkring sig  */
p {
    padding: 15px 15px 10px 15px;
}

/* ger rubriken i cards samma position som texten */
.activity h3 {
    padding-left: 15px;
}

/* stylar länkarna, gör dem svarta och tar bort linjen under dem */
a {
    color: black;
    text-decoration: none;
}

/* Sätter annat typsnitt för Norrgläntan efter logotypen */
.logo-text {
    font-family: Alatsi, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}


/* fixar bredden på heron så den går helt ut till kanten */
#hero {
    width: 100%;
}

/* tar bort linjen under hero-bilden och gör att headern under den hamnar närmare */
#section1 {
    border: none;
    padding-bottom: 0;
}

/* skapar "cards" så att det blir fint och organiserat.  */
.activity {
    border: 2px solid black;
    border-radius: 3px;
    margin:10px;
    background-color: #9CA695;
    text-align: left;
}                                                                                                            

/* skapar knapp av länkar */
.button {
    /* gör så att den går bättre att styla */
    display: inline-block;
    background-color: #9CA695;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

/* Gör kanten mycket tjockare när muspekaren markerar knappen */
.button:hover  {
    border: 6px solid black;
    border-radius: 6px;
}




/* ==================
    ! STOR SKÄRM ! 
====================*/

@media (min-width: 768px) {

    /* lägger allt innehåll på en rad i headern */
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Sätter meny-länkarna i en rad istället */
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    /* Jag vill att headern ska synas även när man scrollar, men bara på stor skärm */
     header {
        position: fixed;
    }

    /* för attt den inte ska bli för liten för textstycket */
    #hero {
        min-height: 400px;
    }

        /* strukturera innehållet/sections på stor skärm. ser till att det inte kan bli för stort och skapar två kolumner */
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* ser till att inte main döljs av headern (som är låst) */
        padding-top: 80px;
    }

     /* gör att de sections som ska täcka hela bredden faktiskt gör det */
    .grid-col-span-2 {
        grid-column: span 2;
    }
    
    /* lägger herobilden över hela första raden i första kolumnen, gör att den täcker hela vp */
    #section1 {
        grid-row: 1;
        grid-column: 1/3;
    }

    /* lägger texten över bilden, rad 1 och kolumn 1 */
    #section2 {
        grid-column: 1;
        grid-row: 1;    
        /* 80% av 1fr */
        max-width: 80%;
        /* centrerar texten på höjden */
        align-self: center;
       /* tar bort en border-bottom */
        border: none;
         /* gör texten i section2 vit så den syns mot headern */    
         color: white;       
    }

    /* när rubriken var för högt upp blev kontrasten inte optimal. Förbättrar det med skugga. */
    #section2 h1 {
        text-shadow: 3px 3px 3px black;
    }

    /* skapar en grid inne i griden... vet inte om det finns en bättre lösning? */
   #section4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
   }

   /* ser till att rubriken täcker hela bredden */
   #section4 h2 {
    grid-column: 1/4;
    text-align: center;
   }

   /* footern på stor skärm. provar en grid-layout jag har sett på en tutorial*/
   footer {
       display: grid;
    /* skapar en rader med fyra kolumner och jag har redan specificerat vad som ska var */
    grid-template-areas: 
    "logo logotext footer-contact footer-nav";
   }

    /* positionerar inuti blocken på stor skärm. Det som alltså skiljer sig från liten skärm */
    .footer-logotyp { 
        justify-content: right;
    }

    .footer-logo { 
        align-items: center;
        justify-content: center;
    }

    .footer-contact { 
        align-items: start;
        justify-content: center;
    }

    .footer-nav { 
        align-items: start;
        justify-content: center;
    }  

}


/* =====================
  ! pytteliten skärm ! 
=======================*/
/* Det är så att när sidan blir mindre än 413px blir footern "maxad" och en scrollbar i sidled öppnas. Då blir bakgrunden till både footern och headern fortfarande bara 100% av vp, alltså blir den för ljus till höger när man scrollar. Jag tänkte lösa det genom att skapa ytterligare en media quiry, med enda skillnaden att alla element i footern hamnar på en enda rad. Detta löser inte problemet till minimal skärm, men i alla fall till 280px bredd :) */

@media (max-width: 413px) {
        footer {
        display: grid;
        grid-template-areas: 
        "logo" 
        "logotext" 
        "footer-contact" 
        "footer-nav";
    }
}