/* Gör så att boxarna blir korrekt storlek när man sätter storleken själv (sätts överst för att den inte ska ärvas) */
* {
    box-sizing: border-box;
}

/* Generellt för hela sidan */
body {
    background-color: #CED9C3;
    color: black;   
    font-family: Lora, serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9CA695;
    color: rgb(12, 0, 0);
    width: 100%;
    padding: 10px;
}

/* mobilskärm */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* inne i grid-elementen */
.section {
  text-align: center;
  text-wrap: wrap;
  border-bottom: 2px solid #9CA695;
  padding-bottom: 20px;
}

footer  {
    background-color: #9CA695;
    color: rgb(0, 0, 0);
    width: 100%;
}

/* gör att logotyp och logo-text hamnar på samma rad i headern */
.logo-logotext {
    display: inline-flex;
    gap: 20px;
    justify-content: left;
}

/* sätter storlek på logotypen */
img[alt="logotyp"] {
    width: 40px;
}
/* gör att bilderna aldrig blir större än parent-elementet och block att det inte blir "extra" space på sidorna/under */
img {
    display: block;
    max-inline-size: 100%;
}

/* gör att listmenyn hamnar i en kolumn (ändras vid stor skärm längre ner i filen) */
header nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* tar bort prickarna på alla listor på sidan */
li {
    list-style-type: none;
}

/* sätter storlek på rubrikerna (ej cards) till samma storlek */
h1, h2 {
    font-size: 1.5rem;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 10px;
}

/* ger alla paragrafer luft runtomkring sig  */
p {
    padding: 15px 15px 10px 15px;
}

/* ger rubriken i cards samma position som texten */
.activity h3 {
    padding-left: 15px;
}

/* stylar länkarna, gör dem svarta och tar bort linjen under dem */
a {
    color: black;
    text-decoration: none;
}

/* Sätter annat typsnitt för Norrgläntan efter logotypen */
.logo-text {
    font-family: Alatsi, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}


/* fixar bredden på heron så den går helt ut till kanten */
#hero {
    width: 100%;
}

/* Det behövdes extra utrymme under buttons */
#section2, #section5 {
    padding-bottom: 50px;
}

/* tar bort linjen under hero-bilden och gör att headern under den hamnar närmare */
#section1 {
    border: none;
    padding-bottom: 0;
}

/* skapar "cards" så att det blir fint och organiserat.  */
.activity {
    border: 2px solid black;
    border-radius: 3px;
    margin:10px;
    background-color: #9CA695;
    text-align: left;
      /* Max-width för att de ska få plats i bredd  */
    max-width: 400px;
}                                                                                                            

/* skapar knapp av länkar */
.button {
    background-color: #9CA695;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
}

/* Gör kanten mycket tjockare när muspekaren markerar knappen */
.button:hover  {
    border: 6px solid black;
    border-radius: 6px;
}


/* strukturerar huvudinnehållet. Skapar CSS-grid-layout med två kolumner */
.main-container {
    display: grid;
}

/* ! STOR SKÄRM ! */
@media (min-width: 768px) {

    /* strukturera innehållet/sections på stor skärm. ser till att det inte kan bli för stort och skapar två kolumner */
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1500px;
        grid-template-columns: 1fr 1fr;
        /* ser till att inte main döljs av headern (som är låst) */
        padding-top: 80px;
    }

     /* gör att de sections som ska täcka hela bredden faktiskt gör det */
    .grid-col-span-2 {
        grid-column: span 2;
    }
    
    /* lägger herobilden över hela första raden i första kolumnen, gör att den täcker hela vp */
    #section1 {
        grid-column: 1;
        grid-row: 1;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
    }

    #section2 {
        grid-column: 1;
        grid-row: 1;    
        max-width: 80%;
        /* centrerar texten på höjden */
        align-self: center;
       /* tar bort en border-bottom */
        border: none;
         /* gör texten i section2 vit så den syns mot headern */    
         color: white;          
    }

    /* när rubriken var för högt upp blev kontrasten inte optimal. Förbättrar det med skugga. */
    #section2 h1 {
        text-shadow: 2px 2px 2px black;
    }

    /* skapar en grid inne i griden... vet inte om det finns en bättre lösning? */
   #section4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        
   }

   /* ser till att rubriken täcker hela bredden */
   #section4 h2 {
    grid-column: 1/4;
    text-align: center;
   }

    /* lägger allt innehåll på en rad i headern */
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Sätter meny-länkarna i en rad istället */
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    /* Jag vill att headern ska synas även när man scrollar, men bara på stor skärm */
     header {
        position: fixed;
    }

    /* för attt den inte ska bli för liten för textstycket */
    #hero {
        min-height: 400px;
    }

    
}

